{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <body>
        {% if user.id %}
        <p>ログインしました．</p>
        <p>こんにちは，{{ user.username }}さん</p>
        {% endif %}
	    <div class="page-header">
            <h1><a>お気に入り本棚</a></h1>
            
            <p>作品追加</p>
            <form action="" method="post">
                {% csrf_token %}
                <label for="url"> URL : </label>
                <input type="url" name="url" size ="100" >
                <input type="submit" value="送信">
            </form>
        </div>
        <h2>追加した本の一覧</h2>
        {% for item in data %}
        <tr>
            <h2><a href="{% url 'book_text' item.book.id %}" >{{item.book.titlelist.title}}</a></h2><br>
        </tr>
        {% endfor %}
        <a href="{% url 'logout' %}">ログアウトする</a>
	</body>
	<!--<link rel="stylesheet" type="text/css" href="text.css">-->
</html>
