{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <body>
        {% if user.id %}
        <p>ログインしました．</p>
        <p>こんにちは，{{ user.username }}さん</p>
        <p>ユーザー番号:{{ user.id }}</p>
	    <div class="page-header">
		    <h1><a>お気に入り本棚</a></h1>
            <p>最終更新日: 25.04.2019, 16:02</p>
        </div>
        {% endif %}
        <p>本の一覧</p>
        {% for item in data %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.user.username}}</td>
            <td>{{item.book.titlelist.title}}</td><br>
        </tr>
        {% endfor %}


        <div>
            <h2><a href="{% url 'hasire' %}">走れメロス</a></h2>
            <p>友情のためにメロスが走る． </p>
        </div>

        <div>
            <p>公開日: 2014/06/14, 12:14</p>
            <h2><a href="https://www.aozora.gr.jp/cards/001779/files/57228_58735.html">怪人二十面相</a></h2>
            <p>怪人と探偵の真剣勝負</p>
        </div>
        <a href="{% url 'logout' %}">ログアウトする</a>
	</body>
	<link rel="stylesheet" type="text/css" href="text.css">
</html>
