{% load static %}
<!DOCTYPE html>
<html lang="ja">
        {% autoescape off %}
            {% spaceless %}
            <p id="{{ user }}"></p>
            <p2 id="{{ bookID }}"></p2>    
                {{ data }}
            {% endspaceless %}
        {% endautoescape %}

        
        <!--ダイアログを呼び出すボタン-->
        <button id="btn_action2">ダイアログ表示</button>
 
        <!--ダイアログの内容-->
        <form id="mydialog2" action="" method="post">
            {% csrf_token %}
            <meta name="csrf-token" content="{% csrf_token %}">
            
            <!-- ｢たくさんの人を殺したのか。｣の感情を選択してください．<br /> -->
            <div id="TEST01"></div>
            <!--ラジオボタンを配置-->
            
                <label><input type="radio" id="rd1" name="test" value="1" checked> 喜び</label><br />
                <label><input type="radio" id="rd2" name="test" value="2"> 信頼</label><br />
                <label><input type="radio" id="rd3" name="test" value="3"> 恐れ</label><br />
                <label><input type="radio" id="rd4" name="test" value="4"> 驚き</label><br />
                <label><input type="radio" id="rd5" name="test" value="5"> 悲しみ</label><br />
                <label><input type="radio" id="rd6" name="test" value="6"> 嫌悪</label><br />
                <label><input type="radio" id="rd7" name="test" value="7"> 怒り</label><br />
                <label><input type="radio" id="rd7" name="test" value="8"> 期待</label><br />
                <label><input type="radio" id="rd8" name="test" value="9"> 不明</label><br />
                <br/>
        </form>

        
    
    {% csrf_token %}
    <script src="{% static 'books/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'books/js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/HighLight.js' %}"></script>　
    <script src="{% static 'js/Event.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/text.css' %}">
    <link rel="stylesheet" href="{% static 'books/css/jquery-ui.css' %}">
</html>