<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" >
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta http-equiv="content-style-type" content="text/css" />
	<link rel="stylesheet" type="text/css" href="../../aozora.css" />
	<title>太宰治 走れメロス</title>
	<script type="text/javascript" src="../../jquery-1.4.2.min.js"></script>
  <link rel="Schema.DC" href="http://purl.org/dc/elements/1.1/" />
	<meta name="DC.Title" content="走れメロス" />
	<meta name="DC.Creator" content="太宰治" />
	<meta name="DC.Publisher" content="青空文庫" />
</head>
<body>
<div class="metadata">
<h1 class="title">走れメロス</h1>
<h2 class="author">太宰治</h2>
<br />
<br />
</div>
<div id="contents" style="display:none"></div><div class="main_text"><br />
　メロスは激怒した。必ず、かの<ruby><rb>邪智暴虐</rb><rp>（</rp><rt>じゃちぼうぎゃく</rt><rp>）</rp></ruby>の王を除かなければならぬと決意した。メロスには政治がわからぬ。メロスは、村の牧人である。笛を吹き、羊と遊んで暮して来た。けれども邪悪に対しては、人一倍に敏感であった。きょう未明メロスは村を出発し、野を越え山越え、十里はなれた<ruby><rb>此</rb><rp>（</rp><rt>こ</rt><rp>）</rp></ruby>のシラクスの市にやって来た。メロスには父も、母も無い。女房も無い。十六の、内気な妹と二人暮しだ。この妹は、村の或る律気な一牧人を、近々、<ruby><rb>花婿</rb><rp>（</rp><rt>はなむこ</rt><rp>）</rp></ruby>として迎える事になっていた。結婚式も間近かなのである。メロスは、それゆえ、花嫁の衣裳やら祝宴の御馳走やらを買いに、はるばる市にやって来たのだ。先ず、その品々を買い集め、それから都の大路をぶらぶら歩いた。メロスには竹馬の友があった。セリヌンティウスである。今は此のシラクスの市で、石工をしている。その友を、これから訪ねてみるつもりなのだ。久しく逢わなかったのだから、訪ねて行くのが楽しみである。歩いているうちにメロスは、まちの様子を怪しく思った。ひっそりしている。もう既に日も落ちて、まちの暗いのは当りまえだが、けれども、なんだか、夜のせいばかりでは無く、市全体が、やけに寂しい。のんきなメロスも、だんだん不安になって来た。路で逢った若い衆をつかまえて、何かあったのか、二年まえに此の市に来たときは、夜でも皆が歌をうたって、まちは賑やかであった<ruby><rb>筈</rb><rp>（</rp><rt>はず</rt><rp>）</rp></ruby>だが、と質問した。若い衆は、首を振って答えなかった。しばらく歩いて<ruby><rb>老爺</rb><rp>（</rp><rt>ろうや</rt><rp>）</rp></ruby>に逢い、こんどはもっと、語勢を強くして質問した。老爺は答えなかった。メロスは両手で老爺のからだをゆすぶって質問を重ねた。老爺は、あたりをはばかる低声で、わずか答えた。<br />
「王様は、人を殺します。」<br />
「なぜ殺すのだ。」<br />
「悪心を抱いている、というのですが、誰もそんな、悪心を持っては居りませぬ。」<br />
「たくさんの人を殺したのか。」<br />
「はい、はじめは王様の妹婿さまを。それから、御自身のお<ruby><rb>世嗣</rb><rp>（</rp><rt>よつぎ</rt><rp>）</rp></ruby>を。それから、妹さまを。それから、妹さまの御子さまを。それから、皇后さまを。それから、賢臣のアレキス様を。」<br />
「おどろいた。国王は乱心か。」<br />
「いいえ、乱心ではございませぬ。人を、信ずる事が出来ぬ、というのです。このごろは、臣下の心をも、お疑いになり、少しく派手な暮しをしている者には、人質ひとりずつ差し出すことを命じて居ります。御命令を拒めば十字架にかけられて、殺されます。きょうは、六人殺されました。」<br />
　聞いて、メロスは激怒した。「<ruby><rb>呆</rb><rp>（</rp><rt>あき</rt><rp>）</rp></ruby>れた王だ。生かして置けぬ。」<br />
　メロスは、単純な男であった。買い物を、背負ったままで、のそのそ王城にはいって行った。たちまち彼は、<ruby><rb>巡邏</rb><rp>（</rp><rt>じゅんら</rt><rp>）</rp></ruby>の警吏に捕縛された。調べられて、メロスの懐中からは短剣が出て来たので、騒ぎが大きくなってしまった。メロスは、王の前に引き出された。<br />
「この短刀で何をするつもりであったか。言え！」暴君ディオニスは静かに、けれども威厳を<ruby><rb>以</rb><rp>（</rp><rt>もっ</rt><rp>）</rp></ruby>て問いつめた。その王の顔は<ruby><rb>蒼白</rb><rp>（</rp><rt>そうはく</rt><rp>）</rp></ruby>で、<ruby><rb>眉間</rb><rp>（</rp><rt>みけん</rt><rp>）</rp></ruby>の<ruby><rb>皺</rb><rp>（</rp><rt>しわ</rt><rp>）</rp></ruby>は、刻み込まれたように深かった。<br />
「市を暴君の手から救うのだ。」とメロスは悪びれずに答えた。<br />
「おまえがか？」王は、<ruby><rb>憫笑</rb><rp>（</rp><rt>びんしょう</rt><rp>）</rp></ruby>した。「仕方の無いやつじゃ。おまえには、わしの孤独がわからぬ。」<br />
「言うな！」とメロスは、いきり立って<ruby><rb>反駁</rb><rp>（</rp><rt>はんばく</rt><rp>）</rp></ruby>した。「人の心を疑うのは、最も恥ずべき悪徳だ。王は、民の忠誠をさえ疑って居られる。」<br />
「疑うのが、正当の心構えなのだと、わしに教えてくれたのは、おまえたちだ。人の心は、あてにならない。人間は、もともと私慾のかたまりさ。信じては、ならぬ。」暴君は落着いて<ruby><rb>呟</rb><rp>（</rp><rt>つぶや</rt><rp>）</rp></ruby>き、ほっと<ruby><rb>溜息</rb><rp>（</rp><rt>ためいき</rt><rp>）</rp></ruby>をついた。「わしだって、平和を望んでいるのだが。」<br />
「なんの為の平和だ。自分の地位を守る為か。」こんどはメロスが嘲笑した。「罪の無い人を殺して、何が平和だ。」<br />
「だまれ、<ruby><rb>下賤</rb><rp>（</rp><rt>げせん</rt><rp>）</rp></ruby>の者。」王は、さっと顔を挙げて報いた。「口では、どんな清らかな事でも言える。わしには、人の腹綿の奥底が見え透いてならぬ。おまえだって、いまに、<ruby><rb>磔</rb><rp>（</rp><rt>はりつけ</rt><rp>）</rp></ruby>になってから、泣いて<ruby><rb>詫</rb><rp>（</rp><rt>わ</rt><rp>）</rp></ruby>びたって聞かぬぞ。」<br />
「ああ、王は<ruby><rb>悧巧</rb><rp>（</rp><rt>りこう</rt><rp>）</rp></ruby>だ。<ruby><rb>自惚</rb><rp>（</rp><rt>うぬぼ</rt><rp>）</rp></ruby>れているがよい。私は、ちゃんと死ぬる覚悟で居るのに。命乞いなど決してしない。ただ、――」と言いかけて、メロスは足もとに視線を落し瞬時ためらい、「ただ、私に情をかけたいつもりなら、処刑までに三日間の日限を与えて下さい。たった一人の妹に、亭主を持たせてやりたいのです。三日のうちに、私は村で結婚式を挙げさせ、必ず、ここへ帰って来ます。」<br />
「ばかな。」と暴君は、<ruby><rb>嗄</rb><rp>（</rp><rt>しわが</rt><rp>）</rp></ruby>れた声で低く笑った。「とんでもない<ruby><rb>嘘</rb><rp>（</rp><rt>うそ</rt><rp>）</rp></ruby>を言うわい。逃がした小鳥が帰って来るというのか。」<br />
「そうです。帰って来るのです。」メロスは必死で言い張った。「私は約束を守ります。私を、三日間だけ許して下さい。妹が、私の帰りを待っているのだ。そんなに私を信じられないならば、よろしい、この市にセリヌンティウスという石工がいます。私の無二の友人だ。あれを、人質としてここに置いて行こう。私が逃げてしまって、三日目の日暮まで、ここに帰って来なかったら、あの友人を絞め殺して下さい。たのむ、そうして下さい。」<br />
　それを聞いて王は、残虐な気持で、そっと<ruby><rb>北叟笑</rb><rp>（</rp><rt>ほくそえ</rt><rp>）</rp></ruby>んだ。生意気なことを言うわい。どうせ帰って来ないにきまっている。この嘘つきに<ruby><rb>騙</rb><rp>（</rp><rt>だま</rt><rp>）</rp></ruby>された振りして、放してやるのも面白い。そうして身代りの男を、三日目に殺してやるのも気味がいい。人は、これだから信じられぬと、わしは悲しい顔して、その身代りの男を磔刑に処してやるのだ。世の中の、正直者とかいう<ruby><rb>奴輩</rb><rp>（</rp><rt>やつばら</rt><rp>）</rp></ruby>にうんと見せつけてやりたいものさ。<br />
「願いを、聞いた。その身代りを呼ぶがよい。三日目には日没までに帰って来い。おくれたら、その身代りを、きっと殺すぞ。ちょっとおくれて来るがいい。おまえの罪は、永遠にゆるしてやろうぞ。」<br />
「なに、何をおっしゃる。」<br />
「はは。いのちが大事だったら、おくれて来い。おまえの心は、わかっているぞ。」<br />
　メロスは口惜しく、<ruby><rb>地団駄</rb><rp>（</rp><rt>じだんだ</rt><rp>）</rp></ruby>踏んだ。ものも言いたくなくなった。<br />
　竹馬の友、セリヌンティウスは、深夜、王城に召された。暴君ディオニスの面前で、<ruby><rb>佳</rb><rp>（</rp><rt>よ</rt><rp>）</rp></ruby>き友と佳き友は、二年ぶりで相逢うた。メロスは、友に一切の事情を語った。セリヌンティウスは無言で<ruby><rb>首肯</rb><rp>（</rp><rt>うなず</rt><rp>）</rp></ruby>き、メロスをひしと抱きしめた。友と友の間は、それでよかった。セリヌンティウスは、縄打たれた。メロスは、すぐに出発した。初夏、満天の星である。<br />
　メロスはその夜、一睡もせず十里の路を急ぎに急いで、村へ到着したのは、<ruby><rb>翌</rb><rp>（</rp><rt>あく</rt><rp>）</rp></ruby>る日の午前、陽は既に高く昇って、村人たちは野に出て仕事をはじめていた。メロスの十六の妹も、きょうは兄の代りに羊群の番をしていた。よろめいて歩いて来る兄の、疲労<ruby><rb>困憊</rb><rp>（</rp><rt>こんぱい</rt><rp>）</rp></ruby>の姿を見つけて驚いた。そうして、うるさく兄に質問を浴びせた。<br />
「なんでも無い。」メロスは無理に笑おうと努めた。「市に用事を残して来た。またすぐ市に行かなければならぬ。あす、おまえの結婚式を挙げる。早いほうがよかろう。」<br />
　妹は頬をあからめた。<br />
「うれしいか。<ruby><rb>綺麗</rb><rp>（</rp><rt>きれい</rt><rp>）</rp></ruby>な衣裳も買って来た。さあ、これから行って、村の人たちに知らせて来い。結婚式は、あすだと。」<br />
　メロスは、また、よろよろと歩き出し、家へ帰って神々の祭壇を飾り、祝宴の席を調え、間もなく床に倒れ伏し、呼吸もせぬくらいの深い眠りに落ちてしまった。<br />
　眼が覚めたのは夜だった。メロスは起きてすぐ、花婿の家を訪れた。そうして、少し事情があるから、結婚式を明日にしてくれ、と頼んだ。婿の牧人は驚き、それはいけない、こちらには未だ何の仕度も出来ていない、<ruby><rb>葡萄</rb><rp>（</rp><rt>ぶどう</rt><rp>）</rp></ruby>の季節まで待ってくれ、と答えた。メロスは、待つことは出来ぬ、どうか明日にしてくれ給え、と更に押してたのんだ。婿の牧人も頑強であった。なかなか承諾してくれない。夜明けまで議論をつづけて、やっと、どうにか婿をなだめ、すかして、説き伏せた。結婚式は、真昼に行われた。新郎新婦の、神々への宣誓が済んだころ、黒雲が空を覆い、ぽつりぽつり雨が降り出し、やがて車軸を流すような大雨となった。祝宴に列席していた村人たちは、何か不吉なものを感じたが、それでも、めいめい気持を引きたて、狭い家の中で、むんむん蒸し暑いのも<ruby><rb>怺</rb><rp>（</rp><rt>こら</rt><rp>）</rp></ruby>え、陽気に歌をうたい、手を<ruby><rb>拍</rb><rp>（</rp><rt>う</rt><rp>）</rp></ruby>った。メロスも、満面に喜色を<ruby><rb>湛</rb><rp>（</rp><rt>たた</rt><rp>）</rp></ruby>え、しばらくは、王とのあの約束をさえ忘れていた。祝宴は、夜に入っていよいよ乱れ華やかになり、人々は、外の豪雨を全く気にしなくなった。メロスは、一生このままここにいたい、と思った。この佳い人たちと生涯暮して行きたいと願ったが、いまは、自分のからだで、自分のものでは無い。ままならぬ事である。メロスは、わが身に鞭打ち、ついに出発を決意した。あすの日没までには、まだ十分の時が在る。ちょっと一眠りして、それからすぐに出発しよう、と考えた。その頃には、雨も小降りになっていよう。少しでも永くこの家に愚図愚図とどまっていたかった。メロスほどの男にも、やはり未練の情というものは在る。今宵呆然、歓喜に酔っているらしい花嫁に近寄り、<br />
「おめでとう。私は疲れてしまったから、ちょっとご免こうむって眠りたい。眼が覚めたら、すぐに市に出かける。大切な用事があるのだ。私がいなくても、もうおまえには優しい亭主があるのだから、決して寂しい事は無い。おまえの兄の、一ばんきらいなものは、人を疑う事と、それから、嘘をつく事だ。おまえも、それは、知っているね。亭主との間に、どんな秘密でも作ってはならぬ。おまえに言いたいのは、それだけだ。おまえの兄は、たぶん偉い男なのだから、おまえもその誇りを持っていろ。」<br />

</body>
</html>